<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Code Is Born Here !</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<script type="text/javascript" src="/static/js/html5shiv.js"></script>
<script type="text/javascript" src="/static/js/respond.min.js"></script>
<![endif]-->
</head>

<body>
	
	<div class="row" >
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Code Is Born Here.</div>
				<div class="panel-body">
					<form role="form" action="" method="POST">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Password" name="password" type="password" value="">
							</div>
							<div class="checkbox">
								<label>
									<input name="remember" type="checkbox" value="Remember Me">Remember Me
								</label>
							</div>
							<a id="submitBtn" href="javascript:;" class="btn btn-primary">Login</a>
						</fieldset>
					</form>
				</div>
				<?php if(isset($error)):?>
				<div class="alert alert-danger"><?php echo $error; ?></div>
				<?php endif; ?>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#submitBtn").click(function(){
				$("form").submit();
			});
		});	
	</script>
</body>
</html>
